<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Mayo 2021
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Card de citas -->
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Lunes - 23 Mayo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="card-content-flex">
        <ion-label>
          Nombre cliente
        </ion-label>
        <ion-badge color="dark">14:15 - 15:15</ion-badge>
        <div class="icon">
          <ion-icon slot="icon-only" name="sync-outline"></ion-icon>
        </div>
      </div>
      <div class="card-content-flex">
        <ion-label>
          Nombre cliente
        </ion-label>
        <ion-badge color="dark">14:15 - 15:15</ion-badge>
        <div class="icon">
          <ion-icon slot="icon-only" name="sync-outline"></ion-icon>
        </div>
      </div>
      <div class="card-content-flex">
        <ion-label>
          Nombre cliente
        </ion-label>
        <ion-badge color="dark">14:15 - 15:15</ion-badge>
        <div class="icon">
          <ion-icon slot="icon-only" name="sync-outline"></ion-icon>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  

  <!-- Botón de añadir -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" routerLink="/create-date">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
